[submodule "solvers/pomo"]
	path = solvers/pomo
	url = https://github.com/yzhang-gh/POMO.git
[submodule "solvers/dact"]
	path = solvers/dact
	url = https://github.com/yzhang-gh/VRP-DACT.git
[submodule "solvers/nlkh"]
	path = solvers/nlkh
	url = https://github.com/yzhang-gh/NeuroLKH.git
[submodule "solvers/EAXrestart"]
	path = solvers/EAXrestart
	url = https://github.com/senshineL/GA-EAX-restart.git
